:root {
--text color: #000;
--card-front-color:#88076c;
--card-back-color:#f689fadc;
}
    
body {
        background-color: rgb(28, 87, 1);
        front-family: Bai Jamjuree;
}
    
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}
    
.cartao:hover .cartao__conteudo {
    transform: rotateY(180deg);
}
    
footer {
    background-image:linear-gradient( #afec93, #fdfdfd) ;
    color: rgb(28, 87, 1);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    
}
    
    footer p {
        text-align: center;
        font-size: 0.6rem;
        margin-top: 0.5rem;
        }
    
        .cartao__conteudo{
            background: transparent;
            text-align: center;
            width: 200px;
            height: 200px;
            position: relative;
            transform-style: preserve-3d;
            transform: rotateY(0deg);
            transition: transform 600ms ease-in-out; 
            margin: 3em 1em; 
        }
        
        .cartao__conteudo__pergunta, 
        .cartao__conteudo__resposta{
            position: absolute;
            backface-visibility: hidden;   
        }
        
        .cartao__conteudo__resposta{
            background: rgb(173, 172, 171);
            width: 200px;
            height: 240px;
            border-radius: 30px;
            transform: rotateY(180deg);
           
        }
        
        .box:hover .cartao__conteudo {
            transform: rotateY(180deg);
            
        }
        
        /*para colocar o efeito na borda*/
        
          .caixa {
           margin: auto;
            position: relative;
            width: 50px;
            height: 20px;
            color: #151320;
            background: #fff;
            display: flex;
           justify-content: center;
            align-items: center;
            border-radius: 3px;
            font-weight: 700;
        }
        
        .caixa::before, .caixa::after {
            content: '';
            position: absolute;
            z-index: -1;
            width: calc(100% + 5px);
            height: calc(100% + 5px);
            background: linear-gradient(45deg, #c3c4c4, #979696, #646364, 
            #839a9f, #d7d8d8, #9f9f9f, #939292, #646364);
            background-size: 300%;
            background-repeat: no-repeat;
            background-position: 100%;
            border-radius: 10px;
            animation: AnimarBorda 4s linear infinite;
            
        }
        
        @keyframes AnimarBorda {
            0% {
                background-position: 0;
            }
            100% {
                background-position: 300%;
            }
        }
        .caixa::after {
            filter: blur(5px);
        }
        
        .caixa {
            margin: auto;
             position: relative;
             width: 50px;
             height: 20px;
             color: #151320;
             background: #fff;
             display: flex;
            justify-content: center;
             align-items: center;
             border-radius: 3px;
             font-weight: 700;
         }
         
         .caixa::before, .caixa::after {
             content: '';
             position: absolute;
             z-index: -1;
             width: calc(100% + 5px);
             height: calc(100% + 5px);
             background: linear-gradient(45deg, #128686, #8d1313, #646364, 
             #839a9f, #d7d8d8, #881111, #939292, #b91bb9);
             background-size: 300%;
             background-repeat: no-repeat;
             background-position: 100%;
             border-radius: 10px;
             animation: AnimarBorda 4s linear infinite;
             
         }
         
         @keyframes AnimarBorda {
             0% {
                 background-position: 0;
             }
             100% {
                 background-position: 300%;
             }
         }
         .caixa::after {
             filter: blur(5px);
         }
         